
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Hide blur background when BookAppointmentPopup is shown */
.modal-overlay.hide-blur {
  background: none;
  backdrop-filter: none;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-details p {
  margin: 10px 0;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.close-modal-btn {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #0056b3;
}

.popup-card-pop{
  background-color: #fff;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 50%;
}

.modal-header-pop {
  font-size: 0.9rem;;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #f8f4f4;
  text-align: center;
  background-color: #2d6aa6;
  display: flex;
  border-radius: 4px;   
}